html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eeeeee;
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 8px;
    padding-right: 8px;
}




@media (min-width:992px) {
    .container {
        width: 970px;
    }
}

@media (min-width:1300px) {
    .container {
        width: 1296px;
    }
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 24px;
    padding-right: 24px;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 8px;
    padding-right: 8px;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
}

.col-xs-12 {
    width: 100%;
}

.col-xs-11 {
    width: 91.66666667%;
}

.col-xs-10 {
    width: 83.33333333%;
}

.col-xs-9 {
    width: 75%;
}

.col-xs-8 {
    width: 66.66666667%;
}

.col-xs-7 {
    width: 58.33333333%;
}

.col-xs-6 {
    width: 50%;
}

.col-xs-5 {
    width: 41.66666667%;
}

.col-xs-4 {
    width: 33.33333333%;
}

.col-xs-3 {
    width: 25%;
}

.col-xs-2 {
    width: 16.66666667%;
}

.col-xs-1 {
    width: 8.33333333%;
}

.col-xs-pull-12 {
    right: 100%;
}

.col-xs-pull-11 {
    right: 91.66666667%;
}

.col-xs-pull-10 {
    right: 83.33333333%;
}

.col-xs-pull-9 {
    right: 75%;
}

.col-xs-pull-8 {
    right: 66.66666667%;
}

.col-xs-pull-7 {
    right: 58.33333333%;
}

.col-xs-pull-6 {
    right: 50%;
}

.col-xs-pull-5 {
    right: 41.66666667%;
}

.col-xs-pull-4 {
    right: 33.33333333%;
}

.col-xs-pull-3 {
    right: 25%;
}

.col-xs-pull-2 {
    right: 16.66666667%;
}

.col-xs-pull-1 {
    right: 8.33333333%;
}

.col-xs-pull-0 {
    right: auto;
}

.col-xs-push-12 {
    left: 100%;
}

.col-xs-push-11 {
    left: 91.66666667%;
}

.col-xs-push-10 {
    left: 83.33333333%;
}

.col-xs-push-9 {
    left: 75%;
}

.col-xs-push-8 {
    left: 66.66666667%;
}

.col-xs-push-7 {
    left: 58.33333333%;
}

.col-xs-push-6 {
    left: 50%;
}

.col-xs-push-5 {
    left: 41.66666667%;
}

.col-xs-push-4 {
    left: 33.33333333%;
}

.col-xs-push-3 {
    left: 25%;
}

.col-xs-push-2 {
    left: 16.66666667%;
}

.col-xs-push-1 {
    left: 8.33333333%;
}

.col-xs-push-0 {
    left: auto;
}

.col-xs-offset-12 {
    margin-left: 100%;
}

.col-xs-offset-11 {
    margin-left: 91.66666667%;
}

.col-xs-offset-10 {
    margin-left: 83.33333333%;
}

.col-xs-offset-9 {
    margin-left: 75%;
}

.col-xs-offset-8 {
    margin-left: 66.66666667%;
}

.col-xs-offset-7 {
    margin-left: 58.33333333%;
}

.col-xs-offset-6 {
    margin-left: 50%;
}

.col-xs-offset-5 {
    margin-left: 41.66666667%;
}

.col-xs-offset-4 {
    margin-left: 33.33333333%;
}

.col-xs-offset-3 {
    margin-left: 25%;
}

.col-xs-offset-2 {
    margin-left: 16.66666667%;
}

.col-xs-offset-1 {
    margin-left: 8.33333333%;
}

.col-xs-offset-0 {
    margin-left: 0%;
}

@media (min-width:768px) {
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
        float: left;
    }

    .col-sm-12 {
        width: 100%;
    }

    .col-sm-11 {
        width: 91.66666667%;
    }

    .col-sm-10 {
        width: 83.33333333%;
    }

    .col-sm-9 {
        width: 75%;
    }

    .col-sm-8 {
        width: 66.66666667%;
    }

    .col-sm-7 {
        width: 58.33333333%;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-5 {
        width: 41.66666667%;
    }

    .col-sm-4 {
        width: 33.33333333%;
    }

    .col-sm-3 {
        width: 25%;
    }

    .col-sm-2 {
        width: 16.66666667%;
    }

    .col-sm-1 {
        width: 8.33333333%;
    }

    .col-sm-pull-12 {
        right: 100%;
    }

    .col-sm-pull-11 {
        right: 91.66666667%;
    }

    .col-sm-pull-10 {
        right: 83.33333333%;
    }

    .col-sm-pull-9 {
        right: 75%;
    }

    .col-sm-pull-8 {
        right: 66.66666667%;
    }

    .col-sm-pull-7 {
        right: 58.33333333%;
    }

    .col-sm-pull-6 {
        right: 50%;
    }

    .col-sm-pull-5 {
        right: 41.66666667%;
    }

    .col-sm-pull-4 {
        right: 33.33333333%;
    }

    .col-sm-pull-3 {
        right: 25%;
    }

    .col-sm-pull-2 {
        right: 16.66666667%;
    }

    .col-sm-pull-1 {
        right: 8.33333333%;
    }

    .col-sm-pull-0 {
        right: auto;
    }

    .col-sm-push-12 {
        left: 100%;
    }

    .col-sm-push-11 {
        left: 91.66666667%;
    }

    .col-sm-push-10 {
        left: 83.33333333%;
    }

    .col-sm-push-9 {
        left: 75%;
    }

    .col-sm-push-8 {
        left: 66.66666667%;
    }

    .col-sm-push-7 {
        left: 58.33333333%;
    }

    .col-sm-push-6 {
        left: 50%;
    }

    .col-sm-push-5 {
        left: 41.66666667%;
    }

    .col-sm-push-4 {
        left: 33.33333333%;
    }

    .col-sm-push-3 {
        left: 25%;
    }

    .col-sm-push-2 {
        left: 16.66666667%;
    }

    .col-sm-push-1 {
        left: 8.33333333%;
    }

    .col-sm-push-0 {
        left: auto;
    }

    .col-sm-offset-12 {
        margin-left: 100%;
    }

    .col-sm-offset-11 {
        margin-left: 91.66666667%;
    }

    .col-sm-offset-10 {
        margin-left: 83.33333333%;
    }

    .col-sm-offset-9 {
        margin-left: 75%;
    }

    .col-sm-offset-8 {
        margin-left: 66.66666667%;
    }

    .col-sm-offset-7 {
        margin-left: 58.33333333%;
    }

    .col-sm-offset-6 {
        margin-left: 50%;
    }

    .col-sm-offset-5 {
        margin-left: 41.66666667%;
    }

    .col-sm-offset-4 {
        margin-left: 33.33333333%;
    }

    .col-sm-offset-3 {
        margin-left: 25%;
    }

    .col-sm-offset-2 {
        margin-left: 16.66666667%;
    }

    .col-sm-offset-1 {
        margin-left: 8.33333333%;
    }

    .col-sm-offset-0 {
        margin-left: 0%;
    }
}

@media (min-width:992px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left;
    }

    .col-md-12 {
        width: 100%;
    }

    .col-md-11 {
        width: 91.66666667%;
    }

    .col-md-10 {
        width: 83.33333333%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-8 {
        width: 66.66666667%;
    }

    .col-md-7 {
        width: 58.33333333%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-5 {
        width: 41.66666667%;
    }

    .col-md-4 {
        width: 33.33333333%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-2 {
        width: 16.66666667%;
    }

    .col-md-1 {
        width: 8.33333333%;
    }

    .col-md-pull-12 {
        right: 100%;
    }

    .col-md-pull-11 {
        right: 91.66666667%;
    }

    .col-md-pull-10 {
        right: 83.33333333%;
    }

    .col-md-pull-9 {
        right: 75%;
    }

    .col-md-pull-8 {
        right: 66.66666667%;
    }

    .col-md-pull-7 {
        right: 58.33333333%;
    }

    .col-md-pull-6 {
        right: 50%;
    }

    .col-md-pull-5 {
        right: 41.66666667%;
    }

    .col-md-pull-4 {
        right: 33.33333333%;
    }

    .col-md-pull-3 {
        right: 25%;
    }

    .col-md-pull-2 {
        right: 16.66666667%;
    }

    .col-md-pull-1 {
        right: 8.33333333%;
    }

    .col-md-pull-0 {
        right: auto;
    }

    .col-md-push-12 {
        left: 100%;
    }

    .col-md-push-11 {
        left: 91.66666667%;
    }

    .col-md-push-10 {
        left: 83.33333333%;
    }

    .col-md-push-9 {
        left: 75%;
    }

    .col-md-push-8 {
        left: 66.66666667%;
    }

    .col-md-push-7 {
        left: 58.33333333%;
    }

    .col-md-push-6 {
        left: 50%;
    }

    .col-md-push-5 {
        left: 41.66666667%;
    }

    .col-md-push-4 {
        left: 33.33333333%;
    }

    .col-md-push-3 {
        left: 25%;
    }

    .col-md-push-2 {
        left: 16.66666667%;
    }

    .col-md-push-1 {
        left: 8.33333333%;
    }

    .col-md-push-0 {
        left: auto;
    }

    .col-md-offset-12 {
        margin-left: 100%;
    }

    .col-md-offset-11 {
        margin-left: 91.66666667%;
    }

    .col-md-offset-10 {
        margin-left: 83.33333333%;
    }

    .col-md-offset-9 {
        margin-left: 75%;
    }

    .col-md-offset-8 {
        margin-left: 66.66666667%;
    }

    .col-md-offset-7 {
        margin-left: 58.33333333%;
    }

    .col-md-offset-6 {
        margin-left: 50%;
    }

    .col-md-offset-5 {
        margin-left: 41.66666667%;
    }

    .col-md-offset-4 {
        margin-left: 33.33333333%;
    }

    .col-md-offset-3 {
        margin-left: 25%;
    }

    .col-md-offset-2 {
        margin-left: 16.66666667%;
    }

    .col-md-offset-1 {
        margin-left: 8.33333333%;
    }

    .col-md-offset-0 {
        margin-left: 0%;
    }
}

@media (min-width:1300px) {
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        float: left;
    }

    .col-lg-12 {
        width: 100%;
    }

    .col-lg-11 {
        width: 91.66666667%;
    }

    .col-lg-10 {
        width: 83.33333333%;
    }

    .col-lg-9 {
        width: 75%;
    }

    .col-lg-8 {
        width: 66.66666667%;
    }

    .col-lg-7 {
        width: 58.33333333%;
    }

    .col-lg-6 {
        width: 50%;
    }

    .col-lg-5 {
        width: 41.66666667%;
    }

    .col-lg-4 {
        width: 33.33333333%;
    }

    .col-lg-3 {
        width: 25%;
    }

    .col-lg-2 {
        width: 16.66666667%;
    }

    .col-lg-1 {
        width: 8.33333333%;
    }

    .col-lg-pull-12 {
        right: 100%;
    }

    .col-lg-pull-11 {
        right: 91.66666667%;
    }

    .col-lg-pull-10 {
        right: 83.33333333%;
    }

    .col-lg-pull-9 {
        right: 75%;
    }

    .col-lg-pull-8 {
        right: 66.66666667%;
    }

    .col-lg-pull-7 {
        right: 58.33333333%;
    }

    .col-lg-pull-6 {
        right: 50%;
    }

    .col-lg-pull-5 {
        right: 41.66666667%;
    }

    .col-lg-pull-4 {
        right: 33.33333333%;
    }

    .col-lg-pull-3 {
        right: 25%;
    }

    .col-lg-pull-2 {
        right: 16.66666667%;
    }

    .col-lg-pull-1 {
        right: 8.33333333%;
    }

    .col-lg-pull-0 {
        right: auto;
    }

    .col-lg-push-12 {
        left: 100%;
    }

    .col-lg-push-11 {
        left: 91.66666667%;
    }

    .col-lg-push-10 {
        left: 83.33333333%;
    }

    .col-lg-push-9 {
        left: 75%;
    }

    .col-lg-push-8 {
        left: 66.66666667%;
    }

    .col-lg-push-7 {
        left: 58.33333333%;
    }

    .col-lg-push-6 {
        left: 50%;
    }

    .col-lg-push-5 {
        left: 41.66666667%;
    }

    .col-lg-push-4 {
        left: 33.33333333%;
    }

    .col-lg-push-3 {
        left: 25%;
    }

    .col-lg-push-2 {
        left: 16.66666667%;
    }

    .col-lg-push-1 {
        left: 8.33333333%;
    }

    .col-lg-push-0 {
        left: auto;
    }

    .col-lg-offset-12 {
        margin-left: 100%;
    }

    .col-lg-offset-11 {
        margin-left: 91.66666667%;
    }

    .col-lg-offset-10 {
        margin-left: 83.33333333%;
    }

    .col-lg-offset-9 {
        margin-left: 75%;
    }

    .col-lg-offset-8 {
        margin-left: 66.66666667%;
    }

    .col-lg-offset-7 {
        margin-left: 58.33333333%;
    }

    .col-lg-offset-6 {
        margin-left: 50%;
    }

    .col-lg-offset-5 {
        margin-left: 41.66666667%;
    }

    .col-lg-offset-4 {
        margin-left: 33.33333333%;
    }

    .col-lg-offset-3 {
        margin-left: 25%;
    }

    .col-lg-offset-2 {
        margin-left: 16.66666667%;
    }

    .col-lg-offset-1 {
        margin-left: 8.33333333%;
    }

    .col-lg-offset-0 {
        margin-left: 0%;
    }
}

@media screen and (min-width:768px) {
    .carousel-indicators {
        bottom: 20px;
    }
}
img {
    max-width: 100%;
}
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.container {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.container>ul>li>a{
    text-decoration: none;
}

.form-submit {
    border: 0;
}

.form-submit, .btn {
    border-radius: 3px;
    padding: 10px 24px;
    height: auto;
    font-family: "Telenor", "Helvetica Neue", Helvetica, Arial, Noto Sans Bengali, sans-serif;
    font-weight: 400;
    color: #1a1a1a;
    text-align: center;
    box-shadow: none;
    -webkit-transition: background .2s;
    transition: background .2s;
}

.form-submit:focus, .form-submit:hover, .btn:focus, .btn:hover {
    outline: 0 none;
    box-shadow: none;
}

.form-submit:active.focus, .form-submit:active:focus, .form-submit:active:hover, .btn:active.focus, .btn:active:focus, .btn:active:hover {
    outline: 0 none;
    box-shadow: none;
}

.form-submit, .btn-sky-blue, .btn-primary {
    color: #ffffff;
    border-color: #0078CF;
    background: #0078CF;
}

.form-submit.active, .btn-sky-blue.active, .btn-primary.active {
    color: #ffffff;
    border-color: #0662A2;
    background: #0662A2;
}

.form-submit:focus, .form-submit:hover, .btn-sky-blue:focus, .btn-sky-blue:hover, .btn-primary:focus, .btn-primary:hover {
    color: #ffffff;
    border-color: #046CB5;
    background: #046CB5;
}

.form-submit:active.focus, .form-submit:active:focus, .form-submit:active:hover, .btn-sky-blue:active.focus, .btn-sky-blue:active:focus, .btn-sky-blue:active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover {
    color: #ffffff;
    border-color: #046CB5;
    background: #046CB5;
}

.form-submit.spin, .btn-sky-blue.spin, .btn-primary.spin {
    color: transparent;
}

.form-submit.spin:after, .btn-sky-blue.spin:after, .btn-primary.spin:after {
    border-color: #ffffff #ffffff #ffffff transparent;
}

.form-submit.spin:focus, .form-submit.spin:hover, .btn-sky-blue.spin:focus, .btn-sky-blue.spin:hover, .btn-primary.spin:focus, .btn-primary.spin:hover {
    color: transparent;
}

.form-control:focus {
    outline: 0 none;
    border-color: #0078CF;
    box-shadow: none;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.form-control::-moz-placeholder {
    color: #767676;
    opacity: 1;
}

.form-control:-ms-input-placeholder {
    color: #767676;
}

.form-control::-webkit-input-placeholder {
    color: #767676;
}

.form-control:focus::-webkit-input-placeholder {
    color: transparent;
}

.form-control:focus:-moz-placeholder {
    color: transparent;
}

.form-control:focus::-moz-placeholder {
    color: transparent;
}

.form-control:focus:-ms-input-placeholder {
    color: transparent;
}

.form-controltextarea {
    height: auto;
}
.breadcrumb ul>li {
    font-family: "Telenor", "Helvetica Neue", Helvetica, Arial, Noto Sans Bengali, sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #B7B7B7;
    position: relative;
    display: inline;
}


.breadcrumb a {
    color: #767676;
}



.title-center {
    text-align: center;
}
.bottom-share-blocks {
    margin: 64px auto;
    text-align: center;
}

.bottom-share-blocks h4 {
    font-weight: 300;
    padding-bottom: 18px;
    line-height: 22px;
}

.bottom-share-blocks ul {
    text-align: center;
}

.bottom-share-blocks li {
    display: inline-block;
    vertical-align: middle;
    padding: 0 10px;
}

.bottom-share-blocks li.share-icon-fc svg {
    width: 11px;
    padding-top: 13px;
}

.bottom-share-blocks li.share-icon-in svg {
    width: 16px;
}

.bottom-share-blocks li.share-icon-tw svg {
    width: 20px;
}

.bottom-share-blocks li a {
    display: block;
    width: 48px;
    height: 48px;
    line-height: 48px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 50%;
    transition: 200ms;
    transition-timing-function: ease-in-out;
    -webkit-transition: 200ms;
    -webkit-transition-timing-function: ease-in-out;
}

.bottom-share-blocks li a:focus, .bottom-share-blocks li a:hover {
    border-color: #1a1a1a;
}

.generic_contact_us .webform-client-form {
    float: right;
    font-family: "Telenor", "Helvetica Neue", Helvetica, Arial, Noto Sans Bengali, sans-serif;
}



.generic_contact_us input[type=text], .generic_contact_us input[type=email], .generic_contact_us input[type=password], .generic_contact_us input[type=number], .generic_contact_us textarea, .generic_contact_us input[type='tel'] {
    background: #f5f5f5;
    height: 48px;
    border: 0;
    display: block;
    padding: 0 12px;
    border-radius: 3px;
    font-family: "Telenor", "Helvetica Neue", Helvetica, Arial, Noto Sans Bengali, sans-serif;
    color: #1a1a1a;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.generic_contact_us textarea {
    height: auto;
}

.generic_contact_us .form-item {
    margin: 0 0 24px 0;
}

.contact-top-section {
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    margin-bottom: 40px;
}

.contact-preview {
    margin-bottom: 30px;
}

.contact-preview img {
    border-radius: 3px;
    max-height: 245px;
}

.contact_select_form label {
    font-size: 13px;
    line-height: 15px;
    font-weight: 400;
    padding-bottom: 8px;
}

.contact_select_form .custom-select {
    position: relative;
    display: inline-block;
}



.contact_select_form .custom-select select {
    display: inline-block;
    font-weight: normal;
    padding: 0 10px 0 16px;
    margin: 0;
    font-family: "Telenor", "Helvetica Neue", Helvetica, Arial, Noto Sans Bengali, sans-serif;
    outline: none;
    background: #f5f5f5;
    border-radius: 3px;
    width: 299px;
    height: 48px;
    line-height: 48px;
    -webkit-appearance: none;
    opacity: 1;
    border: 0;
}

.contact_select_form .custom-select select:focus {
    outline: none;
    border: 0;
}

.contact_select_form .custom-select select option {
    -webkit-appearance: none;
    padding: 10px;
}

.contact_select_form .custom-select:after {
    content: "";
    position: absolute;
    top: 18px;
    right: 12px;
    bottom: 0;
    padding: 0;
    color: #1a1a1a;
    pointer-events: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 9px;
    width: 9px;
    background-color: #f5f5f5;
    border-style: solid;
    border-color: #1A1A1A;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    transition: border-width 150ms ease-in-out;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .contact_select_form .custom-select select {
        padding-right: 34px;
    }
}

.contact_select_form .no-pointer-events .custom-select:after {
    content: none;
}

.contact-content-section h2 {
    display: none;
}

.header-right-blocks li.header-shop-box .cart-badge, .xs-right-bar .xs-header-shop .cart-badge, .cart-badge {
    display: none !important;
}
.main_content {
    background: white;
}