

.buynow-btn {
  padding: 10px 40px;
  background-color: #660000;
  color: #fff;
  border: none;
  width: 100%;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
}

.close-btn {
  display: block;
  background-color: #ffffff;
  padding: 10px;
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  border-radius: 5px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.54);
  border: 1px solid rgba(0, 0, 0, 0.38);
  margin-top: 10px;
}

.popular-package p {
  font-size: 16px;
  line-height: 2;
}

/* .internet .item h5 {
  font-size: 25px;
  font-weight: 600;
} */

.popular-package p span {
  font-size: 25px;
  font-weight: 500;
}
.plan{
  padding-bottom:30px;
}
.box-one {

    margin: 0px 2%;text-align: center;
}
ul{
    list-style: none;
    position: relative;


}
 ul>li{
   font-weight: 700;
   margin-left: -19px;
   font-size: 12px;
   padding: 5px;
   border-radius: 5px;
}
h2{
    background:rgb(189, 20, 20);
    color:white !important;
    margin-bottom:0px;
    margin-top:0px;
    padding:8px 0px;
    font-size: 29px;

}
.plan h4{
    background:rgb(255, 223, 223);
    margin-bottom: 0px;
    padding:8px 0px;
    font-size: 20px;
}
.custom-check{
    /* background:red; */
    border-radius: 50px !important;
    /* border:0px; */
    /* text-align:left !important; */
    /* position:absolute; */
    left:30px;
}

.form-check-input:checked{
    /* background:red; */
    border-radius: 50px;
    border:none;
}


input[type='checkbox']{
  width: 14px !important;
  height: 14px !important;
  margin: 6px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  /* outline: 1px solid gray; */
  box-shadow: none;
  font-size: 0.8em;
  text-align: center;
  line-height: 1em;
  background: #660000;
}

input[type='checkbox']:checked:after {
  content: '✔';
  color: white;
  margin-top:8px;
}







.custom-image{
  height: 130px;
}
.custom-card{
  border: 0px;
  background:rgb(247, 245, 245)
}
.custom-text> h5{
  font-weight:600;
  margin: 20px 0;
}
.custom-text> h6{
  font-weight:600;
}
.custom-text> p{
  font-size:14px;
  color:rgb(67, 66, 66);
}
.section-two{

  margin-top:50px;
  background:rgb(233, 233, 233);
}